<!-- <div class="border-end h-100"> -->
   
    <div style="padding-bottom:100%;position: fixed; margin-left: -7px;" class="side-col">
<div class="text-center ">
  <img src="/images/img.jpg" alt="" style="width:150px; margin-right: 20px;"class="rounded-circle mt-3">
  <h3 style="font-size: x-large;" class="mt-4 st-font1">Supreeth Nayak</h3>
  <h6 class="mt-3">nayaksupreeth4@gmail.com</h6>
  <h4 class="mt-4 st-font1 main-col">WEB DEVELOPER</h4>
</div>
    
    <nav style="position: absolute; padding-left: 0px;" class="nav flex-column mt-4 col-2">

     <a href="/" class="nav-link st-font1 mt-4<% if(page_name == 'Home'){ %> active <% } %> ">Home</a>
     <a href="/services" class="nav-link st-font1 mt-4<% if(page_name == 'Project'){ %> active <% } %> ">Projects</a>
     <a href="/skill" class="nav-link st-font1 mt-4<% if(page_name == 'Skill'){ %> active <% } %> ">Skills</a>
     <a href="/certificate" class="nav-link st-font1 mt-4<% if(page_name == 'Certificate'){ %> active <% } %>">Certificates</a>
     <a href="/education" class="nav-link st-font1 mt-4<% if(page_name == 'Education'){ %> active <% } %>">Education</a>
     <a href="/contact" class="nav-link st-font1 mt-4<% if(page_name == 'Contact'){ %> active <% } %>">Contact</a>
     
    </nav>
    
</div>  

<div id="mySidenav" class="sidenav">
    <span><a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><button  type="button" class="btn-close btn-close-white mt-4 mx-3 closeButton" aria-label="Close"></button></a></span>
    <div class="text-center ">
      <img src="/images/img.jpg" alt="" style="width:150px; margin-right: 20px;"class="rounded-circle mt-3">
      <h3 style="font-size: x-large;" class="mt-4 st-font1">Supreeth Nayak</h3>
      <h6 class="mt-3">nayaksupreeth4@gmail.com</h6>
      <h4 class="mt-4 st-font1 main-col">WEB DEVELOPER</h4>
    </div>
            
            <!-- <nav style="position: fixed;" class="nav flex-column mt-4 col-2"> -->
        
              <a href="/" class="nav-link st-font1 mt-5<% if(page_name == 'Home'){ %> active <% } %> ">Home</a>
              <a href="/services" class="nav-link st-font1 mt-4<% if(page_name == 'Project'){ %> active <% } %> ">Projects</a>
              <a href="/skill" class="nav-link st-font1 mt-4<% if(page_name == 'Skill'){ %> active <% } %> ">Skills</a>
              <a href="/certificate" class="nav-link st-font1 mt-4<% if(page_name == 'Certificate'){ %> active <% } %>">Certificates</a>
              <a href="/education" class="nav-link st-font1 mt-4<% if(page_name == 'Education'){ %> active <% } %>">Education</a>
              <a href="/contact" class="nav-link st-font1 mt-4<% if(page_name == 'Contact'){ %> active <% } %>">Contact</a>

            
  </div>
  
  <!-- Use any element to open the sidenav -->
  <span onclick="openNav()" class="hamburger"> 
      <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" class="btn btn-primary mt-4 mx-3"
        aria-controls="#sidenav-1" aria-haspopup="true">
        <i class="fas fa-bars"></i>
      </button>
  </span>
 
  
  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

<script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0)";
  }
  
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
    document.body.style.backgroundColor = "white";
  }
</script>