<%- include('./partials/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <!-- 2 cols out of 12 column -->
        <div class="col-sm-2">
          <%- include('./partials/sidebar.ejs', {page_name : 'Project'} ) %>
        </div>
        <div class="col-sm-10">
   <!-- Start Main Content -->
   <div class="container mt-5">
    <h1 style="text-align: center" class="main-col mb-5 st-font">PROJECTS</h1>


    <a href="https://github.com/Supreethnayak/ScholarshipManagement" target="_blank"><img src="/images/proj1.jpg" alt="" class="proj-img"></a>
    <a href="" target="_blank"></a><img src="/images/proj2.jpg" alt="" class="proj-img"></a>
    <a href="https://github.com/Supreethnayak/resume-generator-js" target="_blank"><img src="/images/proj3.jpg" alt="" class="proj-img"></a>
    <a href="https://github.com/Supreethnayak/dictionary-site" target="_blank"><img src="/images/proj4.jpg" alt="" class="proj-img"></a>
    <a href="https://github.com/Supreethnayak/crud-operations" target="_blank"><img src="/images/proj5.jpg" alt="" class="proj-img"></a>
    <a href="https://github.com/Supreethnayak/portfolio" target="_blank"><img src="/images/proj6.jpg" alt="" class="proj-img"></a>
    

   </div>
   <!-- End Main Content -->
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>